<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit a Patient</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit a Patient | <%= patient.firstName %> <%= patient.lastName%></h1>
  <form action="/patients/<%= patient._id %>?_method=PUT" method="POST">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" value="<%= patient.firstName %>" required/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="<%= patient.lastName %>" required/>

    <label for="dob">Date of Birth:</label>
    <input type="tel" id="dob" name="dob" placeholder="MM/DD/YYYY" maxlength="10" oninput="formatDate(this)" value="<%= patient.dob %>" required/>

    <label for="isInactivated">Patient Status:</label>
    <input type="checkbox" id="isInactivated" name="isInactivated" value="true" <%= patient.isInactivated ? 'checked' : '' %>>

    <button type="submit">Update Patient!</button>
    <br>
    <a href="/patients/<%= patient._id %>">Cancel</a>
  </form>

  <script>
    let lastValue = '<%= patient.dob %>';

    function formatDate(input) {
      let v = input.value.replace(/\D/g, '');

      if(input.value.length < lastValue.length) {
        lastValue = input.value;
        return;
      }

      let finalValue = '';
      if(v.length > 0) {
        finalValue = v.slice(0, 2); 
        if(v.length > 2) {
          finalValue += '/' + v.slice(2,4);
          if(v.length > 4) {
            finalValue += '/' + v.slice(4, 8);
          }
        }
      }

      input.value = finalValue;
      lastValue = finalValue;
    }
  </script>
</body>
</html>