<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=Sh, initial-scale=1.0">
  <title>Patient Profile</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Patient Profile | <%= patient.firstName %> <%= patient.lastName %></h1>
  <p>DOB: <%= patient.dob %></p>
  <p>Status: <%= patient.isInactivated ? '❌ Inactive' : '✅ Active' %></p>

  <br>
  
  <div>
  <a href="/patients/<%= patient._id %>/billing">View Insurance & Billings</a> | 
    
    <a href="/patients/<%= patient._id %>/edit">
      Edit Patient | <%= patient.firstName %> <%= patient.lastName %>
    </a>

    <a href="/patients/select/<%= patient._id %>">Select a Patient for New Billing</a>
  </div>

  <div>

    <form action="/patients/<%= patient._id %>/inactivate?_method=PUT" method="POST">
      <button type="submit" <%= patient.isInactivated ? 'disabled' : '' %>>
    Inactivate Patient Record <%= patient.firstName %><%= patient.lastName %>
  </button>
    </form>

  </div>
  <a href="/patients/search">Back to Search</a>
</body>
</html>