<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Insurance</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add New Insurance for <%= activePatient.firstName %> <%= activePatient.lastName %></h1>
  <form action="/patients/<%= activePatient._id %>/billing" method="POST">
    
    <label for="providerName">Provider Name:</label>
    <input type="text" id="providerName" name="providerName" placeholder="e.g., CVS Caremark"/>

    <label for="memberId">Member ID:</label>
    <input type="text" id="memberId" name="memberId" required/>

    <label for="bin">BIN:</label>
    <input type="text" id="bin" name="bin" required/>

    <label for="pcn">PCN:</label>
    <input type="text" id="pcn" name="pcn" required/>

    <label for="group">Group:</label>
    <input type="text" id="group" name="group"/>

    <label for="coverageType">Coverage Type:</label>
    <select name="coverageType" required>
      <option value="primary">Primary</option>
      <option value="secondary">Secondary</option>
      <option value="medicaid">Medicaid</option>
      <option value="medicare">Medicare</option>
      <option value="commercial">Commercial</option>
    </select>

    <label for="priority">Priority:</label>
    <input type="number" id="priority" name="priority" min="0" max="100" value="0"/>

    <label for="isInactivated">Inactivated:</label>
    <input type="checkbox" id="isInactivated" name="isInactivated" />

    <button type="submit">Save Insurance Plan</button>
    <br>
    <a href="/patients/<%= activePatient._id %>/billing">Cancel</a>
  </form>
</body>
</html>