<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Billing Information</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= billing.providerName || 'Insurance' %> Information</h1>
  <h3>Patient: <%= activePatient.firstName %> <%= activePatient.lastName %></h3>

  <p>Provider Name: <%= billing.providerName %></p>
  <p>Billing Member ID: <%= billing.memberId %></p>
  <p>Billing BIN: <%= billing.bin %></p>
  <p>Billing PCN: <%= billing.pcn %></p>
  <p>Billing Group: <%= billing.group %></p>
  <p>Coverage Type: <%= billing.coverageType %></p>
  <p>Priority: <%= billing.priority %></p>
  <p>Status: <%= billing.isInactivated ? 'Inactive' : 'Active' %></p>
  
  <div>
  <a href="/patients/<%= activePatient._id %>/billing/<%= billing._id %>/edit">Edit Record</a> | 
    
    <a href="/patients/<%= activePatient._id %>/billing/<%= billing._id %>/recommendation?medType=generic">
      Get Recommendation
    </a>

    <form action="/patients/<%= activePatient._id %>/billing/<%= billing._id %>/inactivate?_method=PUT" method="POST">
      <button type="submit" <%= billing.isInactivated ? 'disabled' : '' %>>
    Inactivate <%= billing.providerName %>
  </button>
    </form>
  </div>
  <a href="/patients/<%= activePatient._id %>/billing/<%= billing._id %>/confirm_delete">Delete Billing</a>
  <a href="/patients/<%= activePatient._id %>/billing">Go Back to List</a>
</body>
</html>